body {
font-family: Arial;
margin: 0;
}

header {
background: #2c3e50;
color: white;
padding: 15px;
display: flex;
justify-content: space-between;
}

nav a {
color: white;
margin-left: 15px;
text-decoration: none;
}

.container {
display: flex;
padding: 20px;
}

main {
flex: 3;
padding-right: 20px;
}

aside {
flex: 1;
border-left: 2px solid black;
padding-left: 15px;
}

footer {
background: #2c3e50;
color: white;
text-align: center;
padding: 10px;
}
